{
  "presets": ["env"],
  "plugins": [
    ["transform-vue-jsx"],
    ["transform-object-rest-spread"],
    ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
    }]
  ]
}